cmake-build-*
.idea
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
mpeg-ts-client
whip-mpegts
CMakeScripts/
build/
mpeg-ts-client.build/
mpeg-ts-client.xcodeproj/
## Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
## End Visual Studio Code